<%= render "devise/shared/links" %>
<h2>
  <%= link_to( "<", new_session_path(resource_name))  %>
Mot de passe oublié</h2>

<br>
<p class='thin'>Entrez votre email ci-dessous afin de recevoir les instructions pour réinitialiser votre mot de passe.</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Envoyer", class: 'btn btn-primary-biky' %>
  </div>
<% end %>

