<%= render 'shared/navbar' %>

<div class="homepage_wrapper">
  <div class="desktop-banner d-none d-md-block">
    <div class="banner_logo_container_desktop">
      <%= image_tag asset_path('home/desktop/logo_banner_desktop.svg'), alt: 'logo', class: 'logo_banner_desktop' %>
      <%= image_tag asset_path('home/desktop/head_shadows_desktop.svg'), alt: 'logo', class: 'head_shadows_desktop' %>
    </div>
    <div class="desktop_calltoaction_container">
      <div class="desktop_calltoaction">
        <h1>Biky</h1>
        <h2><span>LOUER FACILEMENT</span><br>Moto, Remorque, Scooter...</h2>
        <p>Premier site de location de 2 roues entre particuliers</p>
        <div class="buttons">
          <%= link_to('Poster une annonce', new_user_session_path, class: 'btn btn-primary-biky')  %>
          <%= link_to('Louer un 2 roues', new_user_session_path, class: 'btn btn-secondary-biky')  %>
        </div>
      </div>
    </div>
  </div> <!-- end of the desktop Banner -->
  <div class="mobile-banner d-md-none d-block">
    <div class="mobile_calltoaction_container">
      <div class="mobile_calltoaction">
        <%= image_tag asset_path('home/logo_text_extra-white.svg'), alt: 'logo', class: 'logo_text_extra-white' %>
        <h2><span>LOUER FACILEMENT</span><br>Moto, Remorque, Scooter...</h2>
        <p>Premier site de location de 2 roues entre particuliers</p>
        <div class="buttons text-center">
          <%= link_to('Poster une annonce', new_user_session_path, class: 'btn btn-primary-biky')  %>
          <br>
          <%= link_to('Louer un 2 roues', new_user_session_path, class: 'btn btn-secondary-biky')  %>
        </div>
      </div>
    </div>
  </div> <!-- end of the mobile Banner-->

</div>






















 <%= render 'shared/footer' %>
