<!-- <div class="col-xs-6 logo-title">
  <div class="title-logo-animated">
    <%= image_tag asset_path('logo_text_dark.png'), alt: 'biky logo', width: '40%' %>
  </div>
</div>
<div class="col-xs-6">

</div> -->

<div class="banner banner-title-image">
  <div class="banner-content">
    <%= image_tag asset_path('logo_text_white.png'), alt: 'biky logo', width: '40%' %>
    <p>Premier site de location de 2 roues entre particuliers</p>
    <!-- <a href="#" class="btn btn-primary-biky">Comment ça marche ?</a> -->
    <% if user_signed_in? %>
       <li>
          <%= link_to('Deconexion', destroy_user_session_path, method: :delete, class: 'btn btn-primary-biky') %>
       </li>
    <% else %>
       <li>
          <%= link_to('Se connecter', new_user_session_path, class: 'btn btn-primary-biky')  %>
       </li>
    <% end %>
  </div>
</div>


<div class="container insurance-container">
  <div class="insurance-tag">
    <img src="https://cdn0.iconfinder.com/data/icons/business-290/100/round-solid-business-set6-31-512.png" alt="Logo assu">
    <p>Pour plus de sérénité, XXX assure toutes nos locations</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="proposal">
        <div class="proposal-icon">
          <img src="https://static.thenounproject.com/png/1148410-200.png" alt="Euros">
        </div>
        <h3>Gagnez de l'argent</h3>
        <p>Gagnez jusqu’à <span>3 000 € par an</span> en mettant en location votre véhicule ou votre remorque moto. <span>Econnomisez jusqu’à 20%</span> sur vos location en passant par la location de particuliers à particuliers</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="proposal">
        <div class="proposal-icon">
          <img src="https://static.thenounproject.com/png/800605-200.png" alt="Moto locked">
        </div>
        <h3>Louez en sécurité</h3>
        <p>La <span>XXX</span> assure toutes les locations passée via byki. Ainsi vous êtes sur d’être <span>couvert en toutes circonstances</span>.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="proposal">
        <div class="proposal-icon">
          <img src="https://static.thenounproject.com/png/540620-200.png" alt="Confiance">
        </div>
        <h3>Communauté</h3>
        <p><span>Nous connaissons</span> chacun de <span>nos membres</span>. Comment ? <span>Nous vérifions</span> profils, avis, et pièces d'identité. Vous savez ainsi avec qui vous traitez.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-rent-image">
  <div class="container">
  <div class="col-xs-12 col-md-6">
    <h2>TU AS UN 2 ROUES, UNE REMORQUE ?</h2>
    <p>Mets la en location sur byki et gagne jusqu’à 3 000€ par an soit 250€/mois</p>
    <a href="#" class="btn btn-primary-biky">Deposes ton annonce</a>
  </div>
  </div>
</div>


<h2 class='text-center'>Choisis ta raison de louer</h2>
<div class="row text-center">
  <div class="col-xs-12 col-md-4">
    <div class="proposal">
      <div class="proposal-icon">
        <img src="https://static.thenounproject.com/png/224428-200.png" alt="Roadtrip">
      </div>
      <h3>Roadtrip, Weekend</h3>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="proposal">
      <div class="proposal-icon">
        <img src="https://static.thenounproject.com/png/780045-200.png" alt="Love moto">
      </div>
      <h3>Essayer avant d'acheter</h3>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="proposal">
      <div class="proposal-icon">
        <img src="https://static.thenounproject.com/png/882917-200.png" alt="Couple riding">
      </div>
      <h3>Balade</h3>
    </div>
  </div>

  <div class="col-xs-12 col-md-4 offset-md-2">
    <div class="proposal">
      <div class="proposal-icon">
        <img src="http://albanymotorcycletraining.com.au/wp-content/uploads/2015/09/Motorcycle_Trailer_Icon-copy.jpg" alt="Remorque moto">
      </div>
      <h3>Transport</h3>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="proposal">
      <div class="proposal-icon">
        <img src="https://static.thenounproject.com/png/253661-200.png" alt="Drapeau circuit">
      </div>
      <h3>Circuit</h3>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>
