<%= render 'shared/navbar' %>

<div class="search-bar">
  <%= form_tag bikes_path, method: :get do %>
    <%= text_field_tag :city,
      params[:city],
      class: "form-control",
      placeholder: "D'où partez-vous?"
    %>

    <%= text_field_tag :start_date,
      params[:start_date],
      class: "form-control",
      placeholder: Date.today
    %>
    <%= text_field_tag :end_date,
      params[:end_date],
      class: "form-control",
      placeholder: Date.today
    %>

<%= submit_tag "Search", class: "btn btn-primary button-home" %>

  <% end %>
</div>


<br>
<br>
<h1>Liste des motos (Bikes#Index)</h1>
_______________________________
<% @bikes.each do |bike| %>
  <h2><%= bike.model.brand.name %> - <%= bike.model.name %></h2>
  <p>color: <%= bike.color %></p>
  <p>id: <%= bike.id %></p>
  <p>city: <%= bike.city.name %></p>
  <p>unavailable_dates:<%= bike.unavailable_dates %></p>
<% end %>





<%= render 'shared/footer' %>
